{% extends 'base.html' %}

{% block content %}

    <div class="container mt-4">
        <img src="{{ project.image.url }}" alt="">
        <h4>{{ project.owner.username }}</h4>
        <h2>{{ project.title }}</h2>
        <p>{{ project.details }}</p>
        <p>Target: {{ project.target }} EGP</p>
         <p>Total Donated: {{ project.total_donated }} EGP</p>
        <p>Remaining: {{ project.remaining_target }} EGP</p>
        <a href="{% url 'donate' project.id %}">donate</a>
    </div>
  
{% endblock content %}